language: bash

branches:
  only:
    - master

before_install:
  - cd tf
  - wget https://releases.hashicorp.com/terraform/0.11.13/terraform_0.11.13_linux_amd64.zip
  - unzip terraform_0.11.13_linux_amd64.zip

script:
  - ./terraform init --backend-config="key=unstable/terraform.tfstate"
  - ./terraform plan -out /tmp/terraform.plan

deploy:
- provider: script
  script:
    - ./terraform apply /tmp/terraform.plan
  skip_cleanup: true
  on:
    branch: master
